
#map {
    width: 100% !important; 
    height: 100% !important;
    background-color: #f6f6f4 !important;
    position: absolute !important;  
    top: 0 !important; 
    bottom: 0 !important; 
}

.boton-regresar {
    position: fixed !important;
    top: 20px !important;
    font-size: 30px !important;
}